.container {
    background-color: #7D9FFF;
    border: 1px solid #5ECFFF;
    max-width: 1043px;
    padding: 60px 113px 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.post_list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btn_next {
    background-color: rgba(63, 92, 192, 0.8);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px 28px;
    align-self: flex-end;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #FFFFFF;
}